In [1]:
#importing libraries

import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import ipywidgets as widgets 
plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
#data file

file = "./close_price (1) (2).csv"

In [3]:
#importing file to create data frame

data = pd.read_csv(file)

In [4]:
#first 5 rows of the dataset

data.head()

,TRADING_DATE,A B B,Amara Raja Batt.,Atul,Bajaj Electrical,Bata India,Blue Star,Disa India,Exide Inds.,CRISIL,...,Wyeth,Dabur India,Titan Company,Dr Reddy's Labs,Merck,Finolex Cables,Godfrey Phillips,Kansai Nerolac,Goodyear India,GHCL
0,1/1/2008,1456.679391,60.659483,91.994541,120.936277,128.245822,436.534873,1717.691231,68.623181,295.647711,...,368.174630,51.377866,71.841277,667.492881,339.357321,110.292757,283.709879,38.284843,140.642464,125.771213
1,1/2/2008,1457.788085,61.589649,96.560520,121.490183,125.819918,437.565854,1661.869579,68.404217,292.253288,...,368.417627,51.245676,73.143255,691.174979,338.137708,104.196829,294.554588,37.946827,143.896304,120.462243
2,1/3/2008,1446.556532,65.445775,92.232766,120.479084,125.065798,440.830630,1626.607050,70.331096,287.518962,...,365.154529,52.021191,71.311186,664.486365,333.830949,107.854386,299.226155,37.457592,145.274402,118.235900
3,1/4/2008,1454.365594,65.084546,90.009333,115.203783,125.501916,459.474217,1625.324776,69.630413,278.391376,...,371.680725,53.448843,71.329786,674.014709,332.649449,109.378368,300.648700,37.706657,142.441646,119.571706
4,1/7/2008,1445.303226,63.440951,92.351879,113.120039,124.429793,448.863696,1710.296786,67.265606,284.327555,...,401.569312,54.841245,77.495581,658.843365,331.582288,108.768775,358.296890,36.772663,142.824451,117.893386

In [5]:
#last 5 rows of the dataset

data.tail()

,TRADING_DATE,A B B,Amara Raja Batt.,Atul,Bajaj Electrical,Bata India,Blue Star,Disa India,Exide Inds.,CRISIL,...,Wyeth,Dabur India,Titan Company,Dr Reddy's Labs,Merck,Finolex Cables,Godfrey Phillips,Kansai Nerolac,Goodyear India,GHCL
2697,11/26/2018,1348.95,721.45,3506.10,462.05,969.95,627.40,5400.50,253.8,1490.95,...,NaN,418.60,916.15,2561.30,2911.50,455.15,855.05,455.25,963.60,207.65
2698,11/27/2018,1353.75,735.00,3594.95,455.60,1000.35,633.85,5361.50,259.3,1479.75,...,NaN,419.50,914.00,2590.20,2904.95,450.70,884.40,460.90,956.30,208.85
2699,11/28/2018,1398.35,729.85,3536.85,471.00,994.95,642.30,5493.65,259.2,1499.95,...,NaN,415.05,920.55,2570.40,2925.65,452.70,935.85,458.15,944.75,205.60
2700,11/29/2018,1382.50,724.00,3469.65,472.25,999.05,658.15,5431.00,257.3,1492.55,...,NaN,413.55,929.90,2652.80,2904.75,458.75,934.85,463.35,948.70,218.30
2701,11/30/2018,1405.85,709.25,3470.80,471.90,1039.75,674.80,5407.00,262.4,1500.20,...,NaN,410.60,925.70,2713.35,2822.40,458.75,927.85,459.60,950.85,226.20

In [6]:
#list of ll the columns

data.columns

Index(['TRADING_DATE', 'A B B', 'Amara Raja Batt.', 'Atul', 'Bajaj Electrical',
       'Bata India', 'Blue Star', 'Disa India', 'Exide Inds.', 'CRISIL',
       'CG Power & Indu.', 'Wyeth', 'Dabur India', 'Titan Company',
       'Dr Reddy's Labs', 'Merck', 'Finolex Cables', 'Godfrey Phillips',
       'Kansai Nerolac', 'Goodyear India', 'GHCL'],
      dtype='object')

In [7]:
#dropdown to select the stock

title = widgets.Dropdown(
    options=list(data.columns[1:]),
    description='Stock :',
)

#Text

winSize = widgets.IntText(value=30,
    description='Window :',
)

In [8]:
#global variables

pnl_dict = {}
tradeCount_dict = {}
SMA = pd.DataFrame()
call_df = pd.DataFrame()

In [9]:
#buysell indicators

def buysell(df,stock,title):
    
    '''
    INPUT: 
    df - DataFrame having stock name, closing price, SMA values
    stock - stocks column
    title - SMA values column
    
    OUTPUT:
    buy - List with buy calls
    sell - List with sell calls
    '''
    
    flag = -1
    buy = []
    sell = []

    for i in range(len(df)):
        if df[stock][i] > df[title][i]:
            if flag != 1:
                buy.append(df[stock][i])
                sell.append(np.nan)
                flag = 1
            else: #to hold
                buy.append(np.nan)
                sell.append(np.nan)
        elif df[stock][i] < df[title][i]:
            if flag != 0:
                buy.append(np.nan)
                sell.append(df[stock][i])
                flag = 0
            else: #to wait
                buy.append(np.nan)
                sell.append(np.nan)
        else: #crossing point
            buy.append(np.nan)
            sell.append(np.nan)
    return buy, sell

In [10]:
def indicators_visualise(df,stock,title):
    
    '''
    INPUT: 
    df - DataFrame having stock name, closing price, SMA values
    stock - stocks column
    title - SMA values column
    
    OUTPUT:
    A plot with technical indicators    
    '''
    
    plt.figure(figsize=(15.5,6.5))
    plt.plot(df[stock],label = stock,alpha = 0.3)
    plt.plot(df[title],label = 'With SMA',alpha = 0.3)
    plt.scatter(df.index, df['Buy'], label = 'Buy', marker = '^', c = 'green')
    plt.scatter(df.index, df['Sell'], label = 'Sell', marker = 'v', c = 'red')
    plt.title('Buy and Sell indicators for '+ stock + ' stock')
    plt.legend(loc = 'upper left')
    plt.xlabel('1/1/2008 - 11/30/2018')
    plt.ylabel('Daily Close Price (INR)')
    plt.show()

In [11]:
def pnl_calculate(df,stock):
    
    '''
    INPUT: 
    df - DataFrame having stock name, closing price, SMA values
    stock - stocks column
    
    OUTPUT:
    PnL - P&L
    '''
    
    PnL = np.nansum(df['Sell']) - np.nansum(df['Buy'])

    #total number of trades
    trades_count = len(df['Sell'])-df['Sell'].isnull().sum() + len(df['Buy'])-df['Buy'].isnull().sum()
    pnl_dict[stock] = PnL
    tradeCount_dict[stock] = trades_count
    return PnL

In [12]:
def sma_calculate(df,name,title,win):
    
    '''
    INPUT: 
    df - DataFrame having stock name, closing price
    stock - stocks column
    title - SMA values column name (that needs to be created)
    win - SMA window size
    
    OUTPUT:
    df1 - DataFrame having stock name, closing price, SMA values
    '''
    
    df1 = pd.DataFrame()
    df1[name] = df[name]
    df1[title] = df1[name].rolling(window = win).mean()
    return df1

In [13]:
def PnL_chart(pnl_dict):
    
    '''
    INPUT: 
    pnl_dict - Dictionary populated in the pnl_calculate function with stock wise P&L value
    
    OUTPUT:
    P&L bar plot
    '''
    
    PnL_df = pd.Series(pnl_dict).to_frame('PnL')
    PnL_df['Stock'] = PnL_df.index
    col = []
    for val in PnL_df['PnL']:
        if val < 0:
            col.append('red')
        elif val >= 0:
            col.append('green')
    PnL_df.plot.bar(x='Stock', y='PnL', rot=90,figsize=(15,8),fontsize=13,color = col,legend=False)
    plt.title("P/L corresponding to each stock")
    plt.xlabel("Stock")
    plt.ylabel("P/L in INR")

In [14]:
def return_profit(call_df,pnl_dict):
    
    '''
    INPUT: 
    call_df - DataFrame having all the buy & sell calls
    pnl_dict - Dictionary populated in the pnl_calculate function with stock wise P&L value
    
    OUTPUT:
    mrpt - Mean Return per Trade
    profit_factor - Profit Factor
    '''
    
    returns = (np.nansum(call_df['Sell'])-np.nansum(call_df['Buy']))/(np.nansum(call_df['Buy']))
    calls = len(call_df['Sell'])-call_df['Sell'].isnull().sum() + len(call_df['Buy'])-call_df['Buy'].isnull().sum()
    mrpt = returns/calls
    total_profit = sum([val for val in pnl_dict.values() if val>=0])
    total_loss = sum([val for val in pnl_dict.values() if val<0])
    if abs(total_loss)!=0:
        profit_factor = total_profit/abs(total_loss)
    else:
        profit_factor = float('inf')
    return mrpt, profit_factor

In [15]:
#Main Function

def mainFunc(name, win):
    stock_title = name + ' Closing Price'
    
    SMA = sma_calculate(data,name,stock_title,win)
    smatitle = 'SMA with Window Size: ' + str(win)
    plt.figure(figsize=(15.5,6.5))
    plt.plot(data[name],label = name)
    plt.plot(SMA[stock_title],label = smatitle,alpha = 0.7)
    plt.title(stock_title)
    plt.legend(loc = 'upper left')
    plt.xlabel('1/1/2008 - 11/30/2018')
    plt.ylabel('Daily Close Price (INR)')
    plt.show()
    
    buy,sell = buysell(SMA,name,stock_title)
    SMA['Buy'] = buy
    SMA['Sell'] = sell

    indicators_visualise(SMA,name,stock_title)
    
    call_df['Buy'] = buy
    call_df['Sell'] = sell
    
    #total p&l
    for i in data.columns[1:]:
        temp_title = i + ' Closing Price'
        temp_SMA = sma_calculate(data,i,temp_title,win)
        buy,sell = buysell(temp_SMA,i,temp_title)
        temp_SMA['Buy'] = buy
        temp_SMA['Sell'] = sell
        temp_PnL = pnl_calculate(temp_SMA,i)
    mrpt, profit_factor = return_profit(call_df,pnl_dict)
    print("Total no. of trades of {}: {}".format(name,(len(SMA['Sell'])-SMA['Sell'].isnull().sum() + len(SMA['Buy'])-SMA['Buy'].isnull().sum())))
    print("="*113)
    print("Total no. of trades : {}".format(sum(tradeCount_dict.values())))
    print("="*113)
    print("P/L for {} stock : {:.2f}".format(name, pnl_calculate(SMA,name)))
    print("="*113)
    print("Mean Return per Trade for {} stock : {}".format(name, mrpt))
    print("="*113)
    print("Profit Factor : {:.2f}".format(profit_factor))
    print("="*113)
    print("Total P/L : {:.2f}".format(sum(pnl_dict.values())))
    print("="*113)
    PnL_chart(pnl_dict)

In [16]:
# Triggering the widgets

widgets.interact(mainFunc,name = title, win = winSize);

interactive(children=(Dropdown(description='Stock :', options=('A B B', 'Amara Raja Batt.', 'Atul', 'Bajaj Ele…